<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <a href="/">Home</a>
    <a href="/flights">All Flights</a>
  </head>
  <body>